<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./index.css">
    <style>

    </style>
</head>
<body>
<div id="iep">
    <div class="contentWrap">
        <div class="contentNav"></div>
        <div class="contentBox">
            <div class="slidebarOne"></div>

            <div class="contentOne">

                <!--<div class="center-content">-->
                <!--<div class="toolArea"></div>-->
                <!--<div class="colorTable"></div>-->
                <!--</div>-->

                <div class="slidebarTwo"></div>

                <div class="contentTwo">
                    <div class="center-content">
                        <div class="toolArea">
                            <button>ok</button>
                        </div>
                        <div class="colorTable">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


</body>
</html>
